/* 하단탭바(주황) : #FF9966
하단탭바(연두) : #7BAC1F
식단,서브(그린) : #55B46F 
채팅배경div(살구) : #EFC69A 
채팅배경div(녹색) : #3F4435 
기타 서브 오브젝트(연두) : #DEEBA4
기타 서브 오브젝트(녹색) : #5B6348 */

html, body {
    height: 100%;
    margin: 0;
}
body{
    background-color: #EFC69A;
    /* background-color: #585C3C; */
}

/* bar */
.chat-bar {
    width: 100%;
    height:5.5%;
    /* background-color: #4C9C62; */
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 1px 1px 5px 1px rgb(132, 132, 132);
    position: fixed;
    z-index: 1;
}
.chat-bar i, .chat-p {
    /* color: white; */
    /* color: #4C9C62; */
    color: #55B46F;
    font-weight: bold;
    font-size: 220%;
}
.chat-bar i {
    font-size: 320%;
    position: absolute;
    left: 3%;
}

/* 채팅 */
.chat-wrapper {
    width: 100%;
    height: auto;
    /* max-height: 2200px; */
    /* background-color: #E7C79E; */
    background-color: #EFC69A;
    border-radius: 0 0 2rem 2rem;
    margin-top: -1rem;
    padding-bottom: 80px;
}
.chat-input {
    width: 100%;
    height: 26rem;
    position: fixed;
    bottom: 0;
    background-color: #3F4435;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
}
.chat-input div {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 1.5rem;
    font-size: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgb(104, 104, 104);
}
.chat-input .chat-mission {
    width: 250px;
}
.chat-input .chat-advantage {
    width: 310px;
}
.chat-input div::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 13px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -13px;
    top: 30px;
}
.scroll {
    height: 100%;
    padding: 13% 5% 0 5%;
    margin: 0;
    margin-bottom: 400px;
    overflow: scroll;
    /* display: flex;
    flex-direction: column; */
}
.send-wrapper{
    display: flex;
    justify-content: end;
}
.send {
    /* text-align: right; */
    width: 60%;
    word-break: break-all;
    padding: 3%;
    font-size: 260%;
    background-color: white;
    margin: 3rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
}
.send::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    /* z-index: 1; */
    right: -15px;
    top: 45px;
}
.receive-wrapper {
    display: flex;
    align-items: center;
}
.receive {
    width: 60%;
    word-break: break-all;
    padding: 3%;
    font-size: 260%;
    background-color: white;
    margin: 3rem;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
}
.receive::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    left: -15px;
    top: 50px;
}
.chatkong {
    width: 120px;
    height: auto;
}
/* hover */
.chat-input div:hover {
    transition: 0.5s;
    transform: translateY(-10px);
    background-color: #fff;
}