html, body {
    height: 100%;
    margin: 0;
}

/* bar */
.chat-bar {
    width: 100%;
    height: 3.5rem;
    background-color: #4C9C62;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-bar i, .chat-p {
    color: white;
}
.chat-bar i {
    font-size: 1.5rem;
    position: absolute;
    left: 2%;
}

/* 채팅 */
.chat-wrapper {
    height: 100%;
    background-color: #E7C79E;
}