html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.meal-x {
    color: #FF9966;
    font-size: 150%;
    position: absolute;
    top: 2%;
    left: 3%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -5rem;
}
.user-time {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.meal-user {
    margin-right: 1rem;
}
#meal-time-p {
    font-size: small;
    color: rgb(99, 99, 99);
}
.meal-select {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 3px rgb(188, 188, 188);
    padding: 10% 5%;
    margin-bottom: 2.5rem;
}
.meal-select-top,
.meal-select-bottom {
    display: flex;
    justify-content: center;
}
.meal-select i {
    font-size: 350%;
    color: #57AA6C;
    padding: 0.1rem;
}
.meal-select-ok {
    width: 90%;
    height: 1.5rem;
    background-color: #77A644;
    padding: 0.2rem 1.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meal-select-ok i {
    font-size: 200%;
    color: white;
}